<?xml version="1.0" encoding="UTF-8" ?> <!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.aaa.rent.dao.EmpDao">
    <select id="selectEmpList" resultType="emp">
        select empno, ename from emp
    </select>
</mapper>
